<meta charset="UTF-8">
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="keywords" content="******这是是关键字">
<meta name="description" content="*********这里是描述字">
<title>gulp_webpack_template</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" type="text/css" rel="stylesheet">
<link type="text/css" rel="stylesheet" href="public/css/bundle.css">
<script src="https://cdn.bootcss.com/jquery/1.9.1/jquery.min.js"></script>
